<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header.ejs', {title: 'Add owner history | Bassoon-O-Pedia'}) %>
    <link rel="stylesheet" href="/styles/pet-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="hero">
        <h2>Previous Owner Form</h2>
        <h4><i>Tell us a little about your time with the horn.<a href="/bassoons/<%= bassoonFox._id %>"><%= bassoonFox.serialNumber %></a></i></h4>
    </section>

    <form action="/pastowners/create/<%= pet._id %>" method="POST">
        <label for="ownerName">Past Owner Name:</label><br>
        <input type="text" id="ownerName" name="ownerName" ><br>

        <label for="datesOwned">Dates Owned:</label><br>
        <input type="email" id="datesOwned" name="datesOwned" required><br>

        <label for="interesting">Interesting Performances on the horn:</label><br>
        <input type="tel" id="interesting" name="interesting"><br>

        <label for="links">Performance Links:</label><br>
        <textarea id="links" name="links" ></textarea><br>

    
        <input type="submit" value="Submit">
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
