<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'My Additions | Bassoon-O-Pedia'}) %>
    <link rel="stylesheet" href="/styles/pastowner-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="application">
        <h1>Name: <%= pastowner.applicantName %></h1>
        <table>
            <tr>
                <th>
                    <h2>Email:</h2>
                </th>
                <td>
                    <h2><%= pastowner.applicantEmail %></h2>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Dates:</h2>
                </th>
                <td>
                    <h2><%= pastowner.pastownerDates %></h2>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Any modifications made:</h2>
                </th>
                <td>
                    <h2><%= pastowner.pastownerModifications %></h2>
                </td>
            </tr>
           
        </table>
    </section>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
