<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header.ejs', {title: 'History Updates | Bassoon-O-Pedia'}) %>
    <link rel="stylesheet" href="/styles/pet-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <section class="listings">
            <ul>
                <% for (let pastowner of pastowners) { %>
                <li>
                    <h4><%= pastowner.pastownerName %> - <%= app.applicantEmail %></h4>
                    <a href="/pastowners/<%= pastowner._id %>">Read More</a>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
