<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: `${bassoonFox.make} ${bassoonFox.model}, #${bassoonFox.serialNumber} | Bassoon-O-Pedia`}) %>
    <link rel="stylesheet" href="/styles/bassoon-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="container" id="container">
        
        <img src=" <%= bassoonFox.photo %>">
        <section>
            <p><strong>Make:</strong> <%= bassoonFox.make %></p>
            <p><strong>Model:</strong> <%= bassoonFox.model %></p>
            <p><strong>Serial Number:</strong> <%= bassoonFox.serialNumber %></p>
            <p><strong>Details:</strong> <%= bassoonFox.details %></p>
            <p><strong>History:</strong> <%= bassoonFox.history %></p>
            
        </section>
        
        <section class="actions">
            
            <button class="btn"><a href="/bassoons/<%= bassoonFox._id %>/edit">Edit</a></button>
            <form method="POST" action="/bassoons/<%= bassoonFox._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>

        </section>
        

    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
